<div class="social-icons">
    <a class="social-icon" href="https://tr.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" ></i></a>
    <a class="social-icon" href="https://github.com/" target="_blank"><i class="fab fa-github" ></i></a>
    <a class="social-icon" href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter" ></i></a>
    <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
</div>