
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Şehir</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Murat</th>
        <th>Elazığ</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Cemşid</th>
        <th>Iğdır</th>
    </tr>
</table>
